<footer class="footer sm:footer-horizontal footer-center bg-neutral text-neutral-content p-4">
    <aside>
        <p>{{ "app_copyright"|trans }} © {{ 'now' | date('Y') }} - {{ "app_footer"|trans }}</p>
    </aside>
</footer>
