<header>
    <nav class="navbar bg-neutral text-neutral-content shadow-sm">
        <div class="flex-1">
            <a href="#" class="btn btn-ghost text-xl">KeyRoll</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="#">Link</a></li>
                <li>
                    <details>
                        <summary>Parent</summary>
                        <ul class="bg-neutral text-neutral-content rounded-t-none p-2">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </nav>
</header>
