<header>
    <nav class="navbar bg-neutral text-neutral-content shadow-sm">
        <div class="flex-1">
            <a href="{{ path('app_host_index') }}" class="btn btn-ghost text-xl">KeyRoll</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="{{ path('app_host_index') }}">Hosts</a></li>
                <li><a href="{{ path('app_ssh_key_index') }}">SSH keys</a></li>
            </ul>
        </div>
    </nav>
</header>
