{# templates/_partials/_language_switcher.html.twig #}
{% if supported_locales_string is defined and supported_locales_string is not empty %}
    {% set locales_array = supported_locales_string|split('|') %}

    <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost">
            <div class="grid place-items-center w-full h-full">
                {{ ux_icon('bi:translate', { class: 'w-5 h-5' }) }}
            </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
            {% for locale_code in locales_array %}
                <li>
                    <a href="{{ path('app_settings_change_locale', {'locale': locale_code}) }}"
                       class="{{ app.request.locale == locale_code ? 'active' : '' }}">
                        {{ ('common.label.language_' ~ locale_code)|trans }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
