<label class="swap swap-rotate btn btn-ghost px-2">
    <!-- this hidden checkbox controls the state -->
    <input type="checkbox" id="theme-toggle"
           class="theme-controller" {{ stimulus_target('theme', 'toggle') }}
    {{ stimulus_action('theme', 'toggle') }}"/>

    {#  Sun Icon #}
    {{ ux_icon('bi:sun-fill', { class: 'swap-off h-6 w-6' }) }}

    {# Moon Icon #}
    {{ ux_icon('bi:moon-stars-fill', { class: 'swap-on h-6 w-6' }) }}
</label>
