{# templates/layouts/crud_layout.html.twig #}
{% extends 'base.html.twig' %}

{% set apply_background = apply_background is defined ? apply_background : true %}
{% set apply_content_padding = apply_content_padding is defined ? apply_content_padding : true %}

{% block body %}
    <div class="mx-auto mt-6">
        {% block page_header %}
            <div class="mb-6 flex justify-between items-center">
                <h1 class="text-3xl font-semibold">{% block page_title %}{% endblock %}</h1>
                {% block page_actions %}{% endblock %}
            </div>
        {% endblock %}

        {% block content_wrapper %}
            <div class="{% if apply_background %}bg-base-100 shadow-xl rounded-lg{% endif %} {% if apply_content_padding %}p-6{% endif %}">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
