{# templates/components/connection_status_badge.html.twig #}
{% props
    data
%}

{% set status_enum = data %}

{% if status_enum is null %}
    {# Fallback if the connectionStatus on the Host entity was explicitly null #}
    {% set status_text = 'entity.host.status.unknown'|trans %}
    {% set badge_class = 'badge-neutral badge-soft' %}
{% else %}

    {% set status_text = status_enum.getLabelKey()|trans %}
    {% set badge_class = status_enum.getBadgeClass() %}
{% endif %}
<span class="badge badge-sm badge-soft {{ badge_class }}">{{ status_text }}</span>
