{# templates/components/user_role_badge.html.twig #}
{% props
    data
%}

{% set role_string = data %}
{% set badge_class = 'badge badge-soft badge-sm' %}
{% set display_text = '' %}

{% if role_string == 'ROLE_ADMIN' %}
    {% set badge_class = 'badge badge-soft badge-secondary badge-sm' %}
    {% set display_text = 'Admin' %}
{% elseif role_string == 'ROLE_USER' %}
    {% set badge_class = 'badge badge-soft badge-primary badge-sm' %}
    {% set display_text = 'User' %}
{% else %}
    {% set badge_class = 'badge badge-ghost badge-sm' %}
    {% set display_text = role_string|replace({'ROLE_': ''})|capitalize %}
{% endif %}

<span class="{{ badge_class }}">{{ display_text }}</span>
